## Set 

1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

## Set Creation

In [1]:
myset = {1, 2, 3, 4, 5,} # set of numbers
myset

{1, 2, 3, 4, 5}

In [2]:
s = set() # Empty Set
s

set()

In [3]:
len(myset)

5

In [4]:
my_set = {1,1,2,2,3,4,5,5} #Duplicate Items are not allowed
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [6]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [7]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes

In [8]:
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [9]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [10]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [11]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [12]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [13]:
for i in myset:
    print(i)

two
eight
four
three
one
five
seven
six

In [14]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'eight')
(2, 'four')
(3, 'three')
(4, 'one')
(5, 'five')
(6, 'seven')
(7, 'six')

## Set Membership

In [15]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
'two' in myset # check if two exist in set or not

True

In [17]:
'nine' in myset #check if two exist in set or not

False

In [18]:
if 'Ten' in myset:  ##check if two exist in set or not
    print ("Ten is present in myset")
else:
    print('Ten is not present in myset')

Ten is not present in myset

In [19]:
if 'seven' in myset:  ##check if two exist in set or not
    print ("Seven is present in myset")
else:
    print('Seven is not present in myset')

Seven is present in myset

## Add & Remove Items

In [20]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [21]:
myset.add('NINE') # Add element nine to set
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
myset.add('Eleven') # Add element eleven to set
myset

{'Eleven',
 'NINE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.remove("Eleven") # Remove Element eleven from set
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
myset.update(['Ten', 'Eleven' , 'Twelve']) ## Add multiple item to a set using update function
myset

{'Eleven',
 'NINE',
 'Ten',
 'Twelve',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [25]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'Eleven',
 'Ten',
 'Twelve',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.discard('Ten') # remove item from a set using discard() method
myset

{'Eleven',
 'Twelve',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [27]:
myset.discard('fifty') # discard() return original set if the item is not present in the set and remove the item if present in the set
myset

{'Eleven',
 'Twelve',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [28]:
myset.clear() # Delete all items in a set
myset

set()

In [29]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

## copy set

In [30]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
id(myset1), id(myset) # # The address of both myset & myset1 will be the same a

(1626163275680, 1626163275680)

In [33]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
id(my_set) # The address of my_set will be different from myset because my_set i

1626163274336

In [36]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

## Set Operations

# Union

In [39]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [40]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [41]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
A.union(B) #Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
A.union(B,C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C. """
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Intersection

In [77]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [49]:
A & B # Instersection of se A and B (Common items in both sets)

{4, 5}

In [50]:
A.intersection(B)

{4, 5}

In [53]:
A.intersection(B,C) #Intersection of A and B

set()

In [55]:
"""
Updates the set calling the intersection_update() method with the intersection of set A and B
For below example Set A will be updated with the intersection of A & B. """
A.intersection_update(B) 
A

{4, 5}

## Difference

In [80]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [71]:
A - B #set of elements that are only in A but not in B

{1, 2, 3}

In [72]:
A.difference(B)

{1, 2, 3}

In [73]:
B - A # set of elements that are only in A but not in B

{6, 7, 8}

In [74]:
B.difference(A)

{6, 7, 8}

In [75]:

"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A. """
B.difference_update(A)
B

{6, 7, 8}

In [81]:
A.difference_update(B)
A

{1, 2, 3}

## Symmetric Difference

In [92]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [83]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDE Common Element

{1, 2, 3, 6, 7, 8}

In [84]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [88]:
B.symmetric_difference(A) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [93]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B. """
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

## Subset , Superset & Disjoint

In [94]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [96]:
B.issubset(A) ## Set B is said to be the subset of set A if all elements of B are present in set A

True

In [98]:
C.issubset(A) # Set C not to be the subset of set A as all elements of C are not present in set A

False

In [99]:
B.issubset(C)

False

In [100]:
C.issubset(B)

False

In [103]:
A.issuperset(B) # A is a superset of B as all elements in set B are present in A

True

In [102]:
A.issuperset(C)

False

In [106]:
A.isdisjoint(C) #Two sets are said to be disjoint sets if they have no common elements

True

In [105]:
B.isdisjoint(C)

True

In [107]:
C.isdisjoint(A)

True

In [108]:
B.isdisjoint(A)

False

In [109]:
A = {1,2,3,4,5,6,7,8,9}
B = {10,20,30,40}
C = {3,4,5,6,7,8}

In [110]:
B.issubset(A)

False

In [111]:
C.issubset(A)

True

In [112]:
B.issubset(C)

False

In [113]:
A.issuperset(B)

False

In [114]:
A.issuperset(C)

True

In [115]:
B.issuperset(C)

False

In [116]:
A.isdisjoint(B)

True

In [117]:
B.isdisjoint(C)

True

In [118]:
A.isdisjoint(C)

False

# Other Built In functions

In [121]:
A = {1,2,3,4,5,6,7,8,9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [123]:
sum(A) # Sum of all elements of set

45

In [124]:
min(A)

1

In [125]:
max(A)

9

In [126]:
len(A)

9

In [127]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [131]:
A = {1,2,3,4,5,6,7,8,9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [132]:
sorted(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
A1 = sorted(A, reverse = True)
A1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Dictionary

1. Dictionary is a mutable data type in Python.2. 
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}
3. Keys must be unique in a dictionary, duplicate values are allowed.d.

## Create Dictionary

In [136]:
mydict = dict() # create empty dictionary
mydict

{}

In [137]:
mydict = {} # create empty dictionary
mydict

{}

In [138]:
mydict = {1:'one', 2:'two', 3:'three'} # # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [139]:
mydict.keys()

dict_keys([1, 2, 3])

In [140]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [141]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [142]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [143]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [144]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [145]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [147]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [148]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with mix data structure
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [149]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [150]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')} ## Nested dictionary
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [151]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'b': None, 'd': None, 'a': None}

In [153]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of key
mydict3

{'c': 10, 'b': 10, 'd': 10, 'a': 10}

In [155]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10, 20, 30, 40]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of key
mydict3

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [156]:
value.append(50)

In [157]:
mydict3

{'c': [10, 20, 30, 40, 50],
 'b': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50]}

In [158]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10, 20, 30, 40]
mydict3 = dict(zip(keys , value)) # Assign values to Keys using Zip()
mydict3

{'c': 10, 'b': 20, 'd': 30, 'a': 40}

## Assigning Items

In [159]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [161]:
mydict[1] #Access item using key

'one'

In [163]:
mydict.get(1) # Access item using get() method

'one'

In [164]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [165]:
mydict1['job'] = 'Data Scietiest'

In [166]:
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Data Scietiest'}

In [167]:
mydict1['Name'] # Access item using key

'Asif'

In [168]:
mydict1.get('job') # Access item using get() method

'Data Scietiest'

## Add, Remove & Change Items

In [169]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [170]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [171]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [172]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [173]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [174]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [175]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [176]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [177]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [178]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

## Copy Dictionary

In [179]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [181]:
mydict1 = mydict # Create a new reference "mydict1"
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [182]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1626191962176, 1626191962176)

In [184]:
mydict2 = mydict.copy() # Create a copy of the dictionary
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [185]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict1

1626196302848

In [187]:
mydict['Address'] = 'Mumbai'
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [189]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [190]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

## Loop through a Dictionary

In [192]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'Analyst'}

In [193]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
job : Analyst

In [194]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki
Analyst

## Dictionary Membership

In [195]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [196]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [197]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [198]:
'ID' in mydict1

True