## Tuple


In Python, a tuple is an immutable, ordered collection of elements. It is similar to a list, but unlike lists, tuples cannot be changed (modified, added, or removed) after creation.

**Key Features of Tuples:**
1. Ordered – The elements have a fixed order.
2. Immutable – Once created, a tuple cannot be changed.
3.  Allows Duplicates – A tuple can have duplicate values.
4. Supports Multiple Data Types – Can store different types of elements (integers, strings, lists, etc.).
5. Faster than Lists – Since tuples are immutable, they are more memory-efficient and faster than lists.
  
**Tuple Syntax:**
A tuple is created using parentheses () and elements are separated by commas ,.

## Tuple Creation

In [3]:
tup1 = () # Empty Tuple
tup1

()

In [4]:
print(type(tup1))

<class 'tuple'>

In [5]:
tup2 = (10,30,60) # Tuple of integer numbers
tup2

(10, 30, 60)

In [6]:
tup3 = (10.1, 20.2, 30.3, 40.4, 50.5) # Tuple of float numbers
tup3

(10.1, 20.2, 30.3, 40.4, 50.5)

In [7]:
tup4 = ('one', 'two', 'three') # tuple of string
tup4

('one', 'two', 'three')

In [9]:
tup5 = ('Asif', 'Netra', 10,20.8,(20,50),(70,90)) # Tuple inside tuple - Nested Tuple
tup5

('Asif', 'Netra', 10, 20.8, (20, 50), (70, 90))

In [12]:
tup6 = ('Asif', 'Netra', 10,20.8,True) # Tuple of mixed data types
tup6

('Asif', 'Netra', 10, 20.8, True)

In [13]:
tup7 = ('Asif', 'Netra', 10,20.8,(20,50),(70,90),[10,20,30],{'John', 'David'})
tup7

('Asif',
 'Netra',
 10,
 20.8,
 (20, 50),
 (70, 90),
 [10, 20, 30],
 {'David', 'John'})

In [14]:
len(tup7)

8

## Tuple Indexing

In [15]:
tup2

(10, 30, 60)

In [16]:
tup2[0] # Retriving 1st element of tuple

10

In [17]:
tup2[-1] # Retriving last element of tuple

60

In [20]:
tup4[1]

'two'

In [21]:
tup4[1][1] # nested index - access the charecter of the at 1st index of tuple element

'w'

In [22]:
tup3[-1]

50.5

In [25]:
tup4[-1][-1]

'e'

In [26]:
tup5[-1] # retriving last element of tuple

(70, 90)

## Tuple Slicing

In [27]:
mytup= ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [30]:
mytup[0:3] #Retring all elements from 0th to 3rd index excluding element at 3rd index i.e 0 - 2

('one', 'two', 'three')

In [31]:
mytup[2:5] #Retring all elements from 2nd to 4th index excluding element at 5th index i.e 2-4

('three', 'four', 'five')

In [32]:
mytup[:3] # All elemets from 0th to 2nd index

('one', 'two', 'three')

In [33]:
mytup[:2] # return 1st 2 elements

('one', 'two')

In [34]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [35]:
mytup[-3:] # Return last 3 elements

('six', 'seven', 'eight')

In [36]:
mytup[-2:] # Return last 2 elements

('seven', 'eight')

In [38]:
mytup[-1] # Return last elements

'eight'

In [39]:
mytup[:] #entire tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove and change Items

In [40]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [42]:
mytup[5] = 'ten' # Tuple are immutable so we can not chnage tuple elements once created

TypeError: 'tuple' object does not support item assignment

In [43]:
mytup.remove('seven') # Tuple are immutable so we can not remove tuple elements once created

AttributeError: 'tuple' object has no attribute 'remove'

In [44]:
del mytup[0] #Tuples are immutable which means we can't delete it once created

TypeError: 'tuple' object doesn't support item deletion

In [45]:
del mytup #deleting entire tuple is posible

In [46]:
mytup

NameError: name 'mytup' is not defined

## Loop Through a tuple

In [47]:
mytup= ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
for i in mytup:
    print(i)

one
two
three
four
five
six
seven
eight

In [50]:
for i in enumerate(mytup):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Membership

In [52]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [53]:
'one' in mytup #check if 'one' is exist in mytup or not

True

In [54]:
'eight' in mytup #check if 'eight' is exist in mytup or not

True

In [55]:
'ten' in mytup #check if 'ten' is exist in mytup or not

False

In [58]:
if 'three' in mytup: #check if 'three' is exist in mytup or not
    print('Three is present in mytup')
else:
    print('Three is not present in mytup')

Three is present in mytup

In [59]:
if 'twelve' in mytup: #check if 'Twelve' is exist in mytup or not
    print('Twelve is present in mytup')
else:
    print('Twelve is not present in mytup')

Twelve is not present in mytup

## Index Position

In [61]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [63]:
mytup.index('one') #return the index of 'one'

0

In [64]:
mytup.index('five') #return the index of 'five'

4

In [65]:
mytup1 = ('one', 'two', 'three', 'four','one','one', 'two', 'three')
mytup1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [66]:
mytup1.index('three')

2

## Sorting

In [67]:
mytup2 = (46,98,6,12,19,45,77)
mytup2

(46, 98, 6, 12, 19, 45, 77)

In [68]:
sorted(mytup2) # return a new sorted list and don't change original one

[6, 12, 19, 45, 46, 77, 98]

In [70]:
sorted(mytup2, reverse = True) #sorted tuple in descending order

[98, 77, 46, 45, 19, 12, 6]