## What are conditional statements in Python?

Conditional statements in Python allow you to execute certain blocks of code only when specific conditions are met. They are fundamental to controlling the flow of a program and making decisions based on different scenarios. 

**The primary conditional statements in Python are:**
1. if Statement - Executes a block of code if the condition is True.
2. if-else Statement - Provides an alternative block of code to execute if the condition is False.
3. if-elif-else Statement - Allows you to check multiple conditions in sequence. When a condition evaluates to True, its block is executed, and the rest are skipped.
4. Nested if Statements - You can place an if statement inside another if statement to check multiple conditions.
5. Ternary Conditional Operator - A shorthand for the if-else statement, useful for simple conditions. - 
6. Multiple Conditions (and, or, not) - You can combine conditions using logical operators.

**Key Points:**
1. Indentation is crucial in Python. All code inside a conditional block must be indented.
2. Conditional expressions must evaluate to True or False.
3. You can use comparison operators (==, !=, >, <, >=, <=) and logical operators (and, or, not) within conditions.

In [1]:
if True:
    print("Data Science")

Data Science

In [2]:
if False:
    print("Data Science")
print("Bye for Now")

Bye for Now

In [3]:
if True:
    print("Data Science")
print("Bye for Now")

Data Science
Bye for Now

In [4]:
# Code 1 - number is even or odd

x = 4
r = x%2

if r==0:
    print("Even Number")

Even Number

In [5]:
# Code 1 - number is even or odd

x = 5
r = x%2

if r==0:
    print("Even Number")

In [6]:
# Code 1 - number is even or odd

x = 5
r = x%2

if r==0:
    print("Even Number")

if r!=0:
    print("Odd Number")

Odd Number

In [8]:
# Code 1 - number is even or odd

x = 13
r = x%2

if r==0:
    print("Even Number")

if r!=0:
    print("Odd Number")

Odd Number

In [12]:
x = 8

r = x%2

if r==0:
    print("Even Number")
    if x>5:
        print("Greater Number")

else:
    print("Odd Number")

Even Number
Greater Number

In [13]:
x = 4

r = x%2

if r==0:
    print("Even Number")
    if x>5:
        print("Greater Number")

else:
    print("Odd Number")

Even Number

In [16]:
x = 10

r = x%2

if r==0:
    print("Even Number")
    if x>5:
        print("Greater Number")
    else:
        print("Smaller Number")

else:
    print("Odd Number")

Even Number
Greater Number

## If-elif-else

In [19]:
x = 0

if x==1:
    print("One")
elif x==2:
    print("Two")
elif x==3:
    print("Three")
elif x==4:
    print("Four")

else:
    print("Number not found")

Number not found

## Loops:

In [21]:
i = 1 #Initialize

while i<=5:
    print("Data Science")
    i = i+1

Data Science
Data Science
Data Science
Data Science
Data Science

In [24]:
i = 1 #Initialize

while i<=5: #condition
    print("Data Science :",i)
    i =i+1 # Increment

Data Science : 1
Data Science : 2
Data Science : 3
Data Science : 4
Data Science : 5

In [27]:
i = 5

while i>=1:
    print("Data Science", i)
    i =i - 1 # Decrement

Data Science 5
Data Science 4
Data Science 3
Data Science 2
Data Science 1

In [33]:
i = 1 #Initialize

while i<=5:
    print("Data Science")
    j = 1
    while j<=4:
        print("Naresh Technology")
        j = j+1
        
    i = i+1
    print()

Data Science
Naresh Technology
Naresh Technology
Naresh Technology
Naresh Technology

Data Science
Naresh Technology
Naresh Technology
Naresh Technology
Naresh Technology

Data Science
Naresh Technology
Naresh Technology
Naresh Technology
Naresh Technology

Data Science
Naresh Technology
Naresh Technology
Naresh Technology
Naresh Technology

Data Science
Naresh Technology
Naresh Technology
Naresh Technology
Naresh Technology

In [30]:
i = 1 #Initialize

while i<=5:
    print("Data Science", end = "")
    j = 1
    while j<=4:
        print("Naresh Technology", end = "")
        j = j+1
        
    i = i+1
    print()

Data ScienceNaresh TechnologyNaresh TechnologyNaresh TechnologyNaresh Technology
Data ScienceNaresh TechnologyNaresh TechnologyNaresh TechnologyNaresh Technology
Data ScienceNaresh TechnologyNaresh TechnologyNaresh TechnologyNaresh Technology
Data ScienceNaresh TechnologyNaresh TechnologyNaresh TechnologyNaresh Technology
Data ScienceNaresh TechnologyNaresh TechnologyNaresh TechnologyNaresh Technology

# lets use while loop usig some numbers

In [1]:
i = 1

while i <= 2:
    j = 0
    while j <= 2:
        print(j*i, end=" ")
        j += 1
    print()
    i+=1

0 1 2
0 2 4

In [2]:
i = 1

while i <= 4:
    j = 0
    while j <= 3:
        print(i*j, end = " ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

## FOR LOOP  -
normally while loop it work with iteration or certaion some condition but for loop it will work with sequence (list, string,int)

In [3]:
name = 'Naresh'

for i in name:
    print(i)

N
a
r
e
s
h

In [4]:
name1 = [2, 3.5, True, 'hello']

for i in name1:
    print(i)

2
3.5
True
hello

In [5]:
for i in [2,3.5, 7.8, True, 'Amruta']:
    print(i)

2
3.5
7.8
True
Amruta

In [6]:
range(8)

range(0, 8)

In [7]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [8]:
for i in range(2,5):
    print(i)

2
3
4

In [9]:
for i in range(1,10,3):
    print(i)

1
4
7

In [10]:
# Print the values between range 1 to 20

for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
# print the vlues between 1 to 50 dividible by 5 (multiplication table of 5)

for i in range(1,51):

    if i%5 == 0:
        print(i, end = " ")

5 10 15 20 25 30 35 40 45 50

In [14]:
# print the vlues between 1 to 50 dividible by 3 and 5

for i in range(1,51):

    if i%3 == 0 or i%5 == 0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [ ]:
# print the vlues between 1 to 50 dividible by only 3 and not 5

In [16]:
for i in range(1,51):

    if i%3==0 and i%5 != 0:
        print(i)

3
6
9
12
18
21
24
27
33
36
39
42
48

In [19]:
# write the code user ask chocklet from vendor machne write the basic code 

x = int(input("Enter the Numbers of chocolate you want: "))

i = 1
while i <= x:
    print("Chocolate")
    i += 1

Enter the Numbers of chocolate you want:  6

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate

In [20]:
available_chocolates = 5

x = int(input("How many chocolates you want? "))

i =1

while i<=x:
    print("Chocolate")
    i += 1

How many chocolates you want?  8

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate

In [22]:
# if machine has only 5 chocolates and user enter then at that time we need to tell user that only 5 chocolates are available.
available_chcolates = 5

x = int(input("How many chocolate you want?"))

i = 1
while i <= x:
    if i > available_chocolates:
        print("Out of Stock")
        break
    print("Dispatching Chocolates")
    i += 1

How many chocolate you want? 7

Dispatching Chocolates
Dispatching Chocolates
Dispatching Chocolates
Dispatching Chocolates
Dispatching Chocolates
Out of Stock

In [33]:
# ATM machine has set money takeout limit to 20000 rs available in it if user try to take out money more than 20k then user should get message that you can take out meoney upto 20k only.

limit = 15

rs = int(input("How much money you want to withdraw?"))

i = 10

while i <= rs:
    if i > limit:
        print("Money not available")
        break
    i += 1
    print("Collect your money")

print("You can withdraw upto 15k only at a time")
print("Thank you and visit Again")

How much money you want to withdraw? 18

Collect your money
Collect your money
Collect your money
Collect your money
Collect your money
Collect your money
Money not available
You can withdraw upto 15k only at a time
Thank you and visit Again

In [34]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# I don't want to print all values from 1 to 10 I just want to print 1 to 6, Let check how to write code for that

for i in range (1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [38]:
# I want to print all numbers from 1 to 10 exclude 6 

for i in range(1,11):
    if i == 6:
        continue # in continue loop wont be terminate & exclue the assign number it give you entire output 
    print(i)

1
2
3
4
5
7
8
9
10

In [40]:
for i in range(1,11):
    if i == 8:
        continue # this will exclude 8 number from output
    print("Hello", i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 9
Hello 10

In [41]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [43]:
# if you don't want error in your code you need to use pass keyword
for i in range(1,11): 
    pass # pass keyword -  pass the error statement and you won't get error message

## You need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5

In [46]:
for i in range(1,51):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [49]:
for i in range(1,51):
    if i%3 == 0 or i%5 ==0:
        continue
    print(i) # it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [52]:
for i in range(1,51):
    if i%3 == 0 and  i%5 ==0:
        continue
    print(i)
print("END") # when you apply and you wont get the value which is divisible by both 3 & 5 (15)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
END

## Write a python code to print the values which are even numbers that means print only odd numbers

In [55]:
for i in range(1,51):
    
    if i%2 ==0:
        continue
        
    print(i)
    
print("Displayed odd numbers list")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
Displayed odd numbers list

## Printing Patterns in Python

In [57]:
for i in range(4):
    print("# # # #")

# # # #
# # # #
# # # #
# # # #

In [58]:
for i in range(1,5):
    i += 1
    print("# # # #")

# # # #
# # # #
# # # #
# # # #

In [60]:
for i in  range (1,5):
    if i<=5:
        print("# # # #")

# # # #
# # # #
# # # #
# # # #

In [61]:
for j in range(4):
    print("#")

#
#
#
#

In [62]:
for j in range(4):
    print("# # # #")

# # # #
# # # #
# # # #
# # # #

In [63]:
for j in range(4):
    print("#", end = " ")

# # # #

In [64]:
for j in range(4):
    print("#", end = " ")

for j in range(4):
    print("#", end = " ")

# # # # # # # #

In [65]:
for j in range(4):
    print("#", end = " ")

print()

for j in range(4):
    print("#", end = " ")

# # # #
# # # #

In [67]:
for j in range(4):
    print("#", end = " ")

print()

for j in range(4):
    print("#", end = " ")

print()

for j in range(4):
    print("#", end = " ")

print()

for j in range(4):
    print("#", end = " ")

# # # #
# # # #
# # # #
# # # #

In [69]:
for i in range(4):
    for j in range(4):
        print("#", end = " ")
    print()

# # # #
# # # #
# # # #
# # # #

In [70]:
for i in range(4):
    for j in range(i+1):
        print("#", end =" ")
    print()

#
# #
# # #
# # # #

In [72]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [73]:
list(range(5))

[0, 1, 2, 3, 4]

In [80]:
for i in range(4):
    for j in range(i):
        print("#", end =" ")
    print()

#
# #
# # #

In [82]:
for i in range(4):
    for j in range(4-i):
        print("#", end = " ")
    print()

# # # #
# # #
# #
#

In [90]:
for i in range(5):
    print("# "*(4-i))
print()

# # # #
# # #
# #
#

In [95]:
for i in range(1,5):
    print("# "*(5-i))
print()

# # # #
# # #
# #
#

## For|Else Loop

In [97]:
nums = [12,15,18,21,26]

for num in nums:
    if num%5 == 0:
        print(num)

15

In [98]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num%5==0:
        print(num)

25
30
35

In [99]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num%5==0:
        print(num)
        break

25

In [100]:
nums = [12,14,18,21,22,34,38] #if number divisible by 5 is not in list it is not showing any message its is showing blank output
for num in nums:
    if num%5==0:
        print(num)
        break

In [103]:
nums = [12,14,18,21,22,34,38]

for num in nums:
    if num%5==0:
        print(num)
        break 
    else:
        print("Number not found")

Number not found
Number not found
Number not found
Number not found
Number not found
Number not found
Number not found

In [104]:
nums = [10,14,18,21,20,27]

for num in nums:
    if num%5==0:
        print(num)
        break 
    else:
        print("Number not found")

10

## How to check whether given number is prime number or not

A prime number is a natural number greater than 1 that has exactly two distinct positive divisors: 1 and itself. In other words, a prime number can only be divided by 1 and the number itself without leaving a remainder.

ðŸ§® Examples of Prime Numbers:
2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, etc.

In [117]:
num = 29

for i in range(2,num):
    if num % i == 0:
        print(f"{num} is not a prime number.")
        break
else:
    print(f"{num} is a prime number.")

29 is a prime number.