## Type Casting

- Convert 1 data type to another data type 
- FROM ALL OTHER DATATYPE TO INT, OR COMPLEX, FLOAT, BOOL

What is type casting in python?
Type casting in Python refers to converting one data type into another. It allows you to explicitly change the type of a variable to make it compatible with a particular operation or requirement.

**Types of Type Casting**

1. Implicit Type Casting (Type Coercion)
+ Performed automatically by Python.
+ Python converts a smaller data type to a larger data type to avoid data loss.

2. Explicit Type Casting
+ Performed manually by the programmer using Python's built-in functions.
+ Examples include int(), float(), str(), list(), etc.

## Integer to other data types

In [15]:
int(1.5) # convert float to integer

1

In [16]:
# Boolean to integer
int(True)

1

In [17]:
# Complex to integer
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

#complex to int cannot cast

In [18]:
#String to integer
int('10')

10

In [19]:
int('Ten')

ValueError: invalid literal for int() with base 10: 'Ten'

## Float to other data types

In [20]:
# Integer to float
float(10)

10.0

In [21]:
# Boolean to float
print(float(True))
print(float(False))

1.0
0.0

In [23]:
#complex to float
float(1+3j)

# Complex to float can not cast

TypeError: float() argument must be a string or a real number, not 'complex'

In [24]:
# string to float
float('20')

20.0

In [25]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [32]:
int(10.2, 15.4) # we get error because the first argument must be a string or a number (like an integer or float) that can be converted to an integer.

TypeError: 'float' object cannot be interpreted as an integer

In [33]:
int(10.2)

10

In [34]:
float(10, 20, 30, 40, 50 )

TypeError: float expected at most 1 argument, got 5

## Complex to another Data types

In [35]:
complex(1)

(1+0j)

In [36]:
complex(1,2)

(1+2j)

In [37]:
complex(1,2,3)

TypeError: complex() takes at most 2 arguments (3 given)

In [38]:
complex(10.2, 23)

(10.2+23j)

In [39]:
complex(10.2, 23.34567)

(10.2+23.34567j)

In [40]:
#Boolean to complex
complex(True, False)

(1+0j)

In [41]:
complex(False, True)

1j

In [42]:
complex(True)

(1+0j)

In [43]:
complex(False)

0j

In [44]:
complex('10', '20') # Can't cast string to complex

TypeError: complex() can't take second arg if first is a string

In [45]:
complex(20, '10')

TypeError: complex() second arg can't be a string

## String to Other Data Types

In [46]:
# string to integer
str(10)

'10'

In [48]:
#float to string
str(101.10)

'101.1'

In [49]:
#boolean to string
str(True)

'True'

In [50]:
str(False)

'False'

In [51]:
# Complex to string
str(1+2j)

'(1+2j)'

## Boolean to Other Data Types

In [58]:
# boolean to integer
bool(10)

True

In [59]:
bool(10.9) # boolean to integer

True

In [61]:
bool()

False

In [62]:
bool(1+2j) # boolean to Complex

True

In [63]:
bool('Amruta') # boolean to string

True

## Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmatic Operators

In [4]:
a = 5
b = 2

x = 'Asif'
y = 'Bhat'

# Addition
c = a + b
print('Addition of {} and {} will give: {}\n'.format(a,b,c))

##Concatenate string using plus operator
z = x + y
print('Concatenate string\'x\' and \'y\' using \'+\' operator : {} \n'.format(z))

# Subtraction
c = a-b
print('Substraction of {} and {} will give: {}\n'.format(a,b,c))

#Multiplication
c = a*b
print('Multiplication of {} and {} will give: {}\n'.format(a,b,c))

#Division
c = a / b
print('Division of {} and {} will give: {}\n'.format(a,b,c))

## Modulo of both number
c = a%b
print('Modulo of {} and {} will give: {}\n'.format(a,b,c))

#Power of the number
c = a ** b
print('{} raise to the power {} will give: {}\n'. format(a,b,c))

# Division(floor)
c = a//b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give: 7

Concatenate string'x' and 'y' using '+' operator : AsifBhat

Substraction of 5 and 2 will give: 3

Multiplication of 5 and 2 will give: 10

Division of 5 and 2 will give: 2.5

Modulo of 5 and 2 will give: 1

5 raise to the power 2 will give: 25

Floor division of 5 by 2 will give :- 2

## Comparison Operators

Comparison operators are used to compare values.

In [5]:
x = 20
y = 30

print('Is x greater than y:', x>y)
print('\n Is x less than y:', x<y)
print('\n Is x equal to y:', x==y)
print('\n Is x not equal to y:', x!=y)
print('\n Is x greater than or equal to y:', x>=y)
print('\n Is x less than or equal to y:', x<=y)

Is x greater than y: False

 Is x less than y: True

 Is x equal to y: False

 Is x not equal to y: True

 Is x greater than or equal to y: False

 Is x less than or equal to y: True

In [6]:
a = 'Asif'
b = 'Bhat'
c = 'Asif'

a==b, a==c,b==c, b!=c ## Comparison operators on string

(False, True, False, True)

## Logical Operator

In [10]:
x = True
y = False

print('Logical AND Operation:', x and y) #True if both values are true
print('Logical OR operation:', x or y) #True if either of the values is true
print('NOT Operation:', not x) # True if operand is false

Logical AND Operation: False
Logical OR operation: True
NOT Operation: False

## Bitwise operators

Bitwise operators act on bits and performs bit by bit operation.

In [11]:
x = 18 #binary form 10010
y = 6 #binary form 00110

print('Bitwise AND Operation: {}'.format(x&y))
print('Bitwise OR Operation: {}'.format(x|y))
print('Bitwise XOR Operation: {}'.format(x^y))
print('Bitwise Not Operation: {}'.format(~x))
print('Bitwise right shift Operation: {}'.format(x>>2))
print('Bitwise left shift Operation: {}'.format(x<<2))

Bitwise AND Operation: 2
Bitwise OR Operation: 22
Bitwise XOR Operation: 20
Bitwise Not Operation: -19
Bitwise right shift Operation: 4
Bitwise left shift Operation: 72

## Assignment Operators

In [12]:
x =10
print('Initialize x with values 10 (x=10):',x)

x+=20 #x = x+20
print('Add 20 to x :- ',x)

x-=20 #x=x-20
print('Subtract 20 to x :- ',x)

x/=10 #x = x/10
print('Divide x by 10 :- ',x)

x*=10 #x = x*10
print('Multiply x by 10 :- ',x)

x=int(x)

x**=2 #x/10
print('x raised to the power 2:',x)

x%=2 
print('Modulo division:',x)

x=20

x//=3
print('Floor Division :- ',x)

x&=2
print('Bitwise AND :- ',x)

x|=2
print('Bitwise OR :- ',x)

x^=2
print('Bitwise XOR :- ',x)

x=10

x<<=2
print('Bitwise left shift operation',x)

x>>=2
print('Bitwise right shift operation',x)

Initialize x with values 10 (x=10): 10
Add 20 to x :-  30
Subtract 20 to x :-  10
Divide x by 10 :-  1.0
Multiply x by 10 :-  10.0
x raised to the power 2: 100
Modulo division: 0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 40
Bitwise right shift operation 10

## Membership Operators

Membership Operators are used to test whether a value / variable is present in a sequence.

In [13]:
mystr = 'Asif Ali Bhat'
'Asif' in mystr, 'John' in mystr

(True, False)

In [14]:
mystr = 'Asif Ali Bhat'
'Asif' not in mystr, 'John' not in mystr

(False, True)